<!DOCTYPE html>
<html>
  <head>
    <title>Michelle Pham</title>
    <link rel="shortcut icon" href="{{ site.url }}/addiconlater.ico"> <!-- Add icon here -->
    <link rel="stylesheet" href="{{ site.url }}/css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
  </head>
  <!-- BEGIN main part -->
  <body>
      <!-- Container div-->
      <!--img src="background.jpg" id="bg_img"-->
      <div class="parallax-container">
        <div class="banner parallax">
          <h1>Michelle Pham</h1>
        </div>
        <div class="container">
          <div>
            <header>
              <nav>
                <ul>
                  <li><a href="#">Posters</a></li>
                  <li><a href="#">Calligraphy</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </header>
            <main>
              <div class="box_wrapper">
                {{ content }}
                <!--<img class="box_img" src="young.jpg">
                <img class="box_img" src="young.jpg">
                <img class="box_img" src="young.jpg">
                <img class="box_img" src="young.jpg">-->
              </div>
            </main>
        <!-- Container div END-->
          </div>
        </div>
      </div>


    <footer>
      <p>&copy Michelle Pham 2018</p>
    </footer>
  </body>
  <!-- END main part -->

  <script src="js/script.js"></script>
</html>
